<%= form_for(type) do |f| %>
    <div class="row">
        <div class="form-group col-lg-5">
            <p>
                <%= f.label :name, 'Nom' %>
                <%= f.text_field :name, class: 'form-control' %>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-lg-5">
            <p>
                <%= f.label :color, 'Color' %>
                <%= f.text_field :color, class: 'form-control' %>
            </p>
        </div>
    </div>

    <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-primary'%>
    </div>
<% end %>
