<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @move.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @move.type.name %>
</p>

<%= link_to 'Edit', edit_move_path(@move), class: 'btn btn-warning' %> |
<%= link_to 'Back', moves_path, class: 'btn btn-default' %>
