<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @move.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @move.description %>
</p>

<p>
  <strong>Type:</strong>
  <%= @move.type %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
