<h1>Pokemon</h1>

<p>Name : <%= @pokemon.name %></p>
<p>Number : <%= @pokemon.number %></p>
<p>Level : <%= @pokemon.level %></p>
<p>Health points : <%= @pokemon.health_points %> hp</p>

<p>
    Type:
    <% type = @pokemon.type %>
    <% if type.nil? %>
    aucun
    <% else %>
        <%= type_badge(type.name, type.color) %>
    <% end %>
</p>

<p>
    <%= link_to 'Liste des Pokemons', pokemons_path, class: 'btn btn-default' %>
    <%= link_to 'Modifier', edit_pokemon_path, class: 'btn btn-default' %>
</p>
