<!DOCTYPE html>
<html>
  <head>
      <meta name="charset" content="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>PokedexRails</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
          <br>
          <% flash.each do |name, msg| %>
            <div class="alert alert-<%= flash_color(name) %>">
                <a class="close" data-dismiss="alert">x</a>
                <%= content_tag :div, msg, id:"flash_#{name}" %>
            </div>
          <% end %>

          <br>

          <% if user_signed_in? %>
            Connecté en tant que <%= link_to current_user.username, edit_user_registration_path %> -
            <%= link_to 'Se deconnecter',
                destroy_user_session_path,
                method: :delete %>
          <% else %>
            <%= link_to 'Se connecter', new_user_session_path %>
          <% end %>

          <%= yield %>
      </div>
  </body>
</html>
